*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: url('../../img/bg.jpg') no-repeat;
    background-size: cover;
}
.bgimg{
    width: 100%;
    height: 100%;
    /* background: url('../../img/bg.jpg') no-repeat; */
    background-size: cover;
}
.titlebox{
    width:5rem;
    margin: 1rem auto;
}
.title{
    font-size: 1.3rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;   
}
.xianimg{
    width:1.8rem;
    height: 0.5rem;
    margin:0 auto;
}
.waitbox{
    width:5rem;
    margin: 0.5rem auto;
}
.waittext{
    font-size: 0.4rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    margin-bottom: 0.1rem;  
}
.waittext2{
    font-size: 0.3rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
}
.jiaobox{
    width: 3.8rem;
    height:1.5rem;
    margin: 0.6rem auto 0;
    position: relative;
}
.lefttop{
    position: absolute;
    top: 0;
    left: 0;
}
.righttop{
    position: absolute;
    top:0;
    right:0;
}
.leftbottom{
    position: absolute;
    left: 0;
    bottom: 0;
}
.rightbottom{
    position: absolute;
    right: 0;
    bottom: 0;
}
.santext{
    font-size: 0.3rem;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    margin-bottom: 0.1rem;  
}
.mbox{
    width: 5rem;
    height:0.6rem;
    margin: 1rem auto 0;
    /* background: chartreuse; */
    display: flex;
    justify-content: space-between;
}
.fbox{
    width: 1rem;
    height: 0.6rem;
    background-color: rgba(116, 145, 176, .8);
    color: lightsalmon;
    font-size: 0.35rem;
    text-align: center;
    line-height: 0.6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logobox{
    /*margin: 0.4rem 0 4rem 0;*/
}
.logo{
    width: 3rem;
    height: 1rem;
    margin-top: 0.5rem;
    margin-left: 2.3rem;
}